{:highlights [{:id #uuid "6464f812-c94e-46de-a5cf-3df903620536",
               :page 19,
               :position {:bounding {:x1 82.6875,
                                     :y1 190.9375,
                                     :x2 248.10284423828125,
                                     :y2 207.9375,
                                     :width 678.1253376195863,
                                     :height 1028.1261093214978},
                          :rects ({:x1 82.6875,
                                   :y1 190.9375,
                                   :x2 248.10284423828125,
                                   :y2 207.9375,
                                   :width 678.1253376195863,
                                   :height 1028.1261093214978}),
                          :page 19},
               :content {:text "Steps in a Sample Survey"},
               :properties {:color "yellow"}}],
 :extra {:page 21}}
