{:highlights [{:id #uuid "64665d41-6b76-43d0-9a50-8fa7a8345f95",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 446,
                                     :x2 736.0289306640625,
                                     :y2 790.25,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 466,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 173.46844482421875,
                                   :y1 755.15625,
                                   :x2 736.0289306640625,
                                   :y2 770.15625,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 107.703125,
                                   :y1 775.25,
                                   :x2 539.3262939453125,
                                   :y2 790.25,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 1},
               :content {:text "Representative sampling” is a type of statistical sampling that allows us to use data from a sample to make conclusions that are representative for the population from which the sample is taken."},
               :properties {:color "yellow"}}
              {:id #uuid "64665e0f-de46-4b90-ad1e-1e17f26312a2",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 789.876708984375,
                                     :y2 398.328125,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 179.57940673828125,
                                   :y1 363.25,
                                   :x2 789.876708984375,
                                   :y2 378.25,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 161.5625,
                                   :y1 383.328125,
                                   :x2 369.83148193359375,
                                   :y2 398.328125,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 2},
               :content {:text "n 1979-1980 Kruskal and Mosteller wrote four papers on the term representative sampling with the motivation to unravel its ambiguities and imprecision"},
               :properties {:color "yellow"}}
              {:id #uuid "64666be7-c4e3-4828-9d21-67be577c20db",
               :page 10,
               :position {:bounding {:x1 198.46875,
                                     :y1 196.09375,
                                     :x2 251.96426391601562,
                                     :y2 211.09375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 198.46875,
                                   :y1 196.09375,
                                   :x2 251.96426391601562,
                                   :y2 211.09375,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 10},
               :content {:text "Reflection"},
               :properties {:color "yellow"}}
              {:id #uuid "64666bf0-d0b6-4c71-b7a5-2d7755d19399",
               :page 10,
               :position {:bounding {:x1 198.015625,
                                     :y1 583.3125,
                                     :x2 245.99874877929688,
                                     :y2 598.3125,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 198.015625,
                                   :y1 583.3125,
                                   :x2 245.99874877929688,
                                   :y2 598.3125,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 10},
               :content {:text "Coverage"},
               :properties {:color "yellow"}}
              {:id #uuid "64666bfc-7a28-4d8b-84ac-53b7a3a66b7c",
               :page 11,
               :position {:bounding {:x1 144.1875,
                                     :y1 433.1875,
                                     :x2 224.5678253173828,
                                     :y2 448.1875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 144.1875,
                                   :y1 433.1875,
                                   :x2 224.5678253173828,
                                   :y2 448.1875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 11},
               :content {:text "Representatives"},
               :properties {:color "yellow"}}],
 :extra {:page 18}}
