{:highlights [{:id #uuid "64616e7f-bcf7-4fab-9421-3f0d6f85f216",
               :page 6,
               :position {:bounding {:x1 624.382568359375,
                                     :y1 647.9609375,
                                     :x2 715.5118408203125,
                                     :y2 666.4609375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 624.382568359375,
                                   :y1 647.9609375,
                                   :x2 715.5118408203125,
                                   :y2 666.4609375,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "Street Bump"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
