{:highlights [{:id #uuid "64616e7f-bcf7-4fab-9421-3f0d6f85f216",
               :page 6,
               :position {:bounding {:x1 624.382568359375,
                                     :y1 647.9609375,
                                     :x2 715.5118408203125,
                                     :y2 666.4609375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 624.382568359375,
                                   :y1 647.9609375,
                                   :x2 715.5118408203125,
                                   :y2 666.4609375,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "Street Bump"},
               :properties {:color "yellow"}}
              {:id #uuid "64616ff7-2717-46eb-a710-1c7806976d22",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 446,
                                     :x2 736.337646484375,
                                     :y2 752.1171875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 465.5,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 312.3188171386719,
                                   :y1 713.7421875,
                                   :x2 736.337646484375,
                                   :y2 732.2421875,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 158.3984375,
                                   :y1 733.6171875,
                                   :x2 585.3181762695312,
                                   :y2 752.1171875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 7},
               :content {:text "Even With Affirmative Action, Blacks and Hispanics Are More Underrepresented at Top Colleges Than 35 Years Ago"},
               :properties {:color "yellow"}}
              {:id #uuid "646170ed-85d7-4af0-a45f-637630f54842",
               :page 8,
               :position {:bounding {:x1 221.6600799560547,
                                     :y1 564.4296875,
                                     :x2 333.1991882324219,
                                     :y2 582.9296875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 221.6600799560547,
                                   :y1 564.4296875,
                                   :x2 333.1991882324219,
                                   :y2 582.9296875,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 8},
               :content {:text " target variable"},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
