{:highlights [{:id #uuid "6464f58b-5100-429b-b5fc-89b6d5c7fa1b",
               :page 32,
               :position {:bounding {:x1 85.828125,
                                     :y1 564.734375,
                                     :x2 421.33203125,
                                     :y2 585.734375,
                                     :width 700.0000000000001,
                                     :height 1061.327840495266},
                          :rects ({:x1 85.828125,
                                   :y1 564.734375,
                                   :x2 125.5781021118164,
                                   :y2 585.734375,
                                   :width 700.0000000000001,
                                   :height 1061.327840495266}
                                  {:x1 142.234375,
                                   :y1 564.734375,
                                   :x2 421.33203125,
                                   :y2 585.734375,
                                   :width 700.0000000000001,
                                   :height 1061.327840495266}),
                          :page 32},
               :content {:text "1.5.3 Principal Steps in Survey Sampling"},
               :properties {:color "yellow"}}],
 :extra {:page 35}}
