{:highlights [{:id #uuid "6464f58b-5100-429b-b5fc-89b6d5c7fa1b",
               :page 32,
               :position {:bounding {:x1 85.828125,
                                     :y1 564.734375,
                                     :x2 421.33203125,
                                     :y2 585.734375,
                                     :width 700.0000000000001,
                                     :height 1061.327840495266},
                          :rects ({:x1 85.828125,
                                   :y1 564.734375,
                                   :x2 125.5781021118164,
                                   :y2 585.734375,
                                   :width 700.0000000000001,
                                   :height 1061.327840495266}
                                  {:x1 142.234375,
                                   :y1 564.734375,
                                   :x2 421.33203125,
                                   :y2 585.734375,
                                   :width 700.0000000000001,
                                   :height 1061.327840495266}),
                          :page 32},
               :content {:text "1.5.3 Principal Steps in Survey Sampling"},
               :properties {:color "yellow"}}
              {:id #uuid "64650641-256c-435e-ae98-90d6c46c682d",
               :page 36,
               :position {:bounding {:x1 356.9193115234375,
                                     :y1 211,
                                     :x2 423.8429870605469,
                                     :y2 228,
                                     :width 699.904419462018,
                                     :height 1061.1829229438804},
                          :rects ({:x1 356.9193115234375,
                                   :y1 211,
                                   :x2 423.8429870605469,
                                   :y2 228,
                                   :width 699.904419462018,
                                   :height 1061.1829229438804}),
                          :page 36},
               :content {:text "SRSWOR"},
               :properties {:color "yellow"}}
              {:id #uuid "64650887-6dfd-4d92-98c7-2dbb6a07db0e",
               :page 41,
               :position {:bounding {:x1 202.15625,
                                     :y1 230.125,
                                     :x2 377.5010070800781,
                                     :y2 247.125,
                                     :width 699.904419462018,
                                     :height 1061.1829229438804},
                          :rects ({:x1 202.15625,
                                   :y1 230.125,
                                   :x2 377.5010070800781,
                                   :y2 247.125,
                                   :width 699.904419462018,
                                   :height 1061.1829229438804}),
                          :page 41},
               :content {:text "simple systematic sampling"},
               :properties {:color "yellow"}}],
 :extra {:page 42}}
