{:highlights [{:id #uuid "645e74d8-9f0a-4bff-bc6c-64e99bf13eac",
               :page 14,
               :position {:bounding {:x1 142.21875,
                                     :y1 527.40625,
                                     :x2 376.4596862792969,
                                     :y2 548.40625,
                                     :width 699.904419462018,
                                     :height 1061.1829229438804},
                          :rects ({:x1 142.21875,
                                   :y1 527.40625,
                                   :x2 376.4596862792969,
                                   :y2 548.40625,
                                   :width 699.904419462018,
                                   :height 1061.1829229438804}),
                          :page 14},
               :content {:text "Horvitz–Thompson Estimator"},
               :properties {:color "red"}}],
 :extra {:page 133}}
