{:highlights [{:id #uuid "6463dba8-ca3d-428c-9513-f5731706b8da",
               :page 6,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 573.9597778320312,
                                     :y2 380.8125,
                                     :width 700,
                                     :height 905.8823529411765},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 315.5026550292969,
                                   :y1 336.0625,
                                   :x2 573.9597778320312,
                                   :y2 350.0625,
                                   :width 700,
                                   :height 905.8823529411765}
                                  {:x1 82.328125,
                                   :y1 366.8125,
                                   :x2 348.8919677734375,
                                   :y2 380.8125,
                                   :width 700,
                                   :height 905.8823529411765}),
                          :page 6},
               :content {:text "Monte Carlo approach to show the behavior of the coefficient and p-values as a function of sample size"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
